*,
*:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body {
	background-image: url(../img/background-2.png);
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
}

.container {
	margin: 0 auto;
	padding-top: 5%;
	padding-left:20%;
	padding-right:20%;
}

header {
	font-size: 20pt;
	display: flex;
	margin: 0 auto;
	padding-bottom: 5%;
}
.content {
	padding: 5%;
}

nav {
	padding-left: 10%;
	align-self: center;
	justify-content: space-between;
}

main {
	font-size: 110%;
	background-color: rgba(255,255,255,.9);
	color: #99ccff;
	border-radius: 5px;
}

span.c {
	color: #CC6699;
}


ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #CC0033;
}